# Dotfiles
###################
.local_backup

# Vim
###################
vim/.netrwhist
vim/haskellmode.config
vim/spell
vim/bundle

# XMonad
###################
*.errors
xmonad-*-linux

# Spotify stuff
###################
zsh/spotify.zsh
