[submodule "zsh/antigen"]
	path = zsh/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "zsh/plugins/completions"]
	path = zsh/plugins/completions
	url = git://github.com/zsh-users/zsh-completions.git
