# Dotfiles
###################
.local_backup

# Vim
###################
vim/.netrwhist
vim/haskellmode.config
vim/spell
vim/bundle

# XMonad
###################
*.errors
xmonad-*-linux

# Binaries
###################
bin/lein

# Spotify stuff
# (since I work there)
###################
zsh/spotify.zsh
