[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/haskellmode"]
	path = bundle/haskellmode
	url = git://github.com/lukerandall/haskellmode-vim.git
[submodule "vim/bundle/haskellmode"]
	path = vim/bundle/haskellmode
	url = git://github.com/lukerandall/haskellmode-vim.git
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = http://github.com/tpope/vim-rails.git
[submodule "vim/bundle/easytags"]
	path = vim/bundle/easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "vim/bundle/lusty"]
	path = vim/bundle/lusty
	url = https://github.com/sjbach/lusty.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/rake"]
	path = vim/bundle/rake
	url = https://github.com/tpope/vim-rake
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/bundle/cucumber"]
	path = vim/bundle/cucumber
	url = https://github.com/tpope/vim-cucumber
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim/bundle/textobj-rubyblock"]
	path = vim/bundle/textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock
[submodule "vim/bundle/textobj-user"]
	path = vim/bundle/textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/indent-object"]
	path = vim/bundle/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "vim/bundle/speeddating"]
	path = vim/bundle/speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "vim/bundle/git"]
	path = vim/bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/bundle/ruby"]
	path = vim/bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim
[submodule "vim/bundle/c"]
	path = vim/bundle/c
	url = https://github.com/vim-scripts/c.vim
[submodule "vim/bundle/localvimrc"]
	path = vim/bundle/localvimrc
	url = https://github.com/vim-scripts/localvimrc
[submodule "vim/bundle/a"]
	path = vim/bundle/a
	url = https://github.com/vim-scripts/a.vim
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "zsh/antigen"]
	path = zsh/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "vim/bundle/pddl"]
	path = vim/bundle/pddl
	url = https://github.com/Tarrasch/pddl.vim.git
[submodule "vim/bundle/rename"]
	path = vim/bundle/rename
	url = https://github.com/danro/rename.vim.git
[submodule "vim/bundle/gnuplot"]
	path = vim/bundle/gnuplot
	url = git://github.com/vlaadbrain/gnuplot.vim.git
