## General .gitignore file by Arash Rouhani (Tarrasch)
# backup files
*.swp
*.swo
*~
*.bak

# non-source files
*.hi
*.o
*.pdf

# yesod
client_session_key.aes
devel-server
dist
static/tmp

# latex
*.aux
*.log
*.out
.nfs*
*#*#
.goutput*

# Java
*.class

# OS X
.DS_Store
